@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700&display=swap");
body,
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  height: 100%;
  letter-spacing: 2px;
}

/*-------- navbars --------*/
a.brand-logo.black-text.left {
  padding-left: 20px;
}

/*-------- hero image --------*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../static/images/hero-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.height-90 {
  height: 90%;
}

.height-85 {
  height: 85%;
}

.height-80 {
  height: 80%;
}

.height-70 {
  height: 70%;
}

.height-55 {
  height: 55%;
}

.hero-image-section {
  padding-top: 7%;
}

.subheading {
  margin: 0 10%;
}
/*-------- text --------*/
.text-shadow {
  text-shadow: 1px 1px 1px rgb(66, 66, 66, 0.5);
}

.text-white {
  color: white;
}

.font-1rem {
  font-size: 1rem;
}

.margin-bottom-10 {
  margin-bottom: 10%;
}

.margin-bottom-5 {
  margin-bottom: 5%;
}

.line-height {
  line-height: 2rem;
}
/*-------- forms --------*/

#username,
#password,
#confirm_password,
#search {
  font-size: large;
  border-bottom: 2px solid white;
}

#username_label,
#password_label,
#confirm_password_label,
#search_label {
  font-size: large;
}

.plant-form {
  padding-top: 50px;
}

/*-------- overwrites materialize select-wrapper  --------*/
.form-text,
body > section > div > div > form > div:nth-child(10) > div > div > input,
body > section > div > form > div:nth-child(10) > div > div > input {
  font-size: 16px;
  color: #9e9e9e;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

/*-------- spacing --------*/
.padding-30,
#plant-profile-right,
#plant-profile-left {
  padding: 30px;
}

.margin-0 {
  margin: 0;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.padding-0 {
  padding: 0;
}

.margin-10 {
  margin: 10px;
}

.margin-y-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.back {
  padding: 5px;
}

.fa-search {
  padding: 2px;
}

/*-------- hover --------*/
.hover-col:hover {
  color: grey;
}

.home-icons {
  font-size: 52px;
  color: grey;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  width: 400px;
  margin-bottom: 5px;
}

.chevron {
  position: absolute;
  bottom: 0px;
}

.block-content {
  margin: 25px;
}
