@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700&display=swap");
body,
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  height: 100%;
  letter-spacing: 2px;
}

/*-------- navbars --------*/
a.brand-logo.black-text.left {
  padding-left: 20px;
}

/*-------- hero image --------*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../static/images/hero-img.png");
  height: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

/*-------- text --------*/
.text-shadow {
  text-shadow: 1px 1px 1px rgb(66, 66, 66, 0.5);
}

.text-white {
  color: white;
}

.heading {
  padding-top: 50px;
}

/*-------- forms --------*/
.form-container {
  height: 40vh;
}

#username,
#password,
#confirm_password,
#search {
  font-size: large;
  border-bottom: 2px solid white;
}

#username_label,
#password_label,
#confirm_password_label,
#search_label {
  font-size: large;
}

/*-------- add task selector --------*/
body > div.row > form > div:nth-child(8) > div > div > input {
  color: #9e9e9e;
  font-size: 1rem;
}

/*-------- flash messages --------*/

.flash-messages {
  margin-top: 0;
}

/*-------- spacing --------*/
.padding-30,
#plant-profile-right,
#plant-profile-left {
  padding: 30px;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
    padding: 0;
}

.margin-10 {
  margin: 10px;
}

.back {
  padding: 5px;
}

.fa-search {
  padding: 2px;
}

/*-------- hover --------*/
.hover-col:hover {
  color: grey;
}
