{% extends "base.html" %}
{% set active_page = "all_plants" %}

<!-- hero image opening div -->
{% block hero_image_begin %}
<div class="hero-image hero-img-all-plants">
  {% endblock %}

  <!-- heading -->
  {% block heading %} All Plants {% endblock %}

  <!-- subheading -->
  {% block subheading%} Search plants by name or maintenance level:
  <i>easy, medium or hard</i> or browse all plants below
  <div>
    <a href="#plants" class="hover-col text-white"
      ><i class="fas fa-chevron-down small"></i
    ></a>
  </div>
  {% endblock %}

  <!-- hero image content -->
  {% block hero_image_content %}

  <!-- search -->
  <div class="container hero-img-content-container-35">
    <form action="{{ url_for('search_all_plants') }}" method="POST">
      <div class="row center-align padding-30">
        <div class="input-field">
          <input
            type="text"
            name="search"
            id="search"
            class="validate white-text text-shadow"
          />
          <label id="search_label" for="search" class="white-text text-shadow">
            Start Searching...
          </label>
          <button
            type="submit"
            class="white-text text-shadow right grey darken-1 btn"
          >
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}
  <!-- hero image closing div -->
  {% block hero_image_end %}
</div>
{% endblock %} {% block content %}
<!-- plants -->
<section id="plants">
  <!-- reset search button -->
  <div class="row padding-30 margin-0">
    <a
      href="{{ url_for( 'all_plants' ) }}"
      class="white-text text-shadow grey darken-1 btn"
      >Reset Search Results</a
    >
  </div>
  <!-- plant post grid -->
  <div class="grid">
    {% for plant_post in all_plants %}
    <div class="grid-item">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img
            class="activator"
            src="{{ plant_post.plant_image_url }}"
            alt="Image for {{ plant_post.plant_nickname }}"
          />
        </div>
        <div class="card-content">
          <span class="card-title activator"
            >{{ plant_post.plant_nickname }}
            <i class="fas fa-ellipsis-v right"></i>
          </span>
          <p>{{ plant_post.plant_botanical_name }}</p>

          <a
            class="black-text"
            href="{{ url_for('plant_profile', plant_post_id=plant_post._id) }}"
          >
            <p class="hover-col padding-top-20">
              Care Guide
              <i class="fas fa-long-arrow-alt-right hover-col"></i></p
          ></a>
          <!-- delete modal Structure -->
          <div id="delete-modal" class="modal">
            <div class="modal-content">
              <h4>
                Are you sure want to delete {{ plant_post.plant_botanical_name
                }}?
              </h4>
            </div>
            <div class="modal-footer">
              <a
                href="{{ url_for('delete_plant', plant_post_id=plant_post._id) }}"
                class="modal-close waves-effect waves-green btn-flat"
                >Yes, delete</a
              >
              <button class="modal-close waves-effect waves-green btn-flat">
                No, keep
              </button>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >{{ plant_post.plant_botanical_name }}
            <i class="fas fa-times right"></i>
          </span>
          <p>{{ plant_post.plant_description }}<br /></p>
          <p>
            Maintenance level: <i>{{ plant_post.maintenance_level }}</i><br />
          </p>
          <p>Posted by: <i>{{ plant_post.posted_by }}</i><br /></p>
          {% if plant_post.is_air_purifying == "on" %}
          <p><i class="fas fa-leaf"></i> This plant is air purfying</p>
          {% endif %}
          <a
            class="black-text"
            href="{{ url_for('plant_profile', plant_post_id=plant_post._id) }}"
          >
            <p class="hover-col padding-top-20">
              Full Care Guide
              <i class="fas fa-long-arrow-alt-right hover-col"></i></p
          ></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
