{% extends "base.html" %}{% block heading %}Plants{% endblock %} {% block
hero_img_content %} {% endblock %} {% block content %}

<div class="row">
  {% for plant in all_plants %}
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="" />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"
          >{{ plant.plant_name }}<i class="material-icons right"
            >more_vert</i
          ></span
        >
        <p><a href="#">LINK TO FULL POST</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >{{ plant.plant_name }}<i class="material-icons right">close</i></span
        >
        <p>
          {{ plant.plant_description }}<br />
          {{ plant.maintenance_level }}<br />
          Posted by <i>{{ plant.posted_by }}</i><br />
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
