{% extends "base.html" %}{% block heading %}Plants{% endblock %} {% block
hero_img_content %} {% endblock %} {% block content %}

<div class="row">
  {% for plant in all_plants %}
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ plant.plant_image_url }}" />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"
          >{{ plant.plant_name }}
          <i class="fas fa-ellipsis-v right"></i>
        </span>
        <p><a href="#">LINK TO FULL POST</a></p>
        <a href=""><i class="far fa-edit grey-text small"></i></a>
        <a href=""><i class="far fa-trash-alt grey-text small"></i></a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >{{ plant.plant_name }}
          <i class="fas fa-times right"></i>
        </span>
        <p>{{ plant.plant_description }}<br /></p>
        <p>Maintenance level: <i>{{ plant.maintenance_level }}</i><br /></p>
        <p>Posted by: <i>{{ plant.posted_by }}</i><br /></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
