{% extends "base.html" %} {% block heading %}A Community Created Guide to
Houseplant Care {% endblock %} {% block hero_img_content %}

<!-- search -->
<div class="container">
  <form action="{{ url_for('search_all_plants') }}" method="POST">
    <div class="row center-align">
      <div class="input-field">
        <input
          type="text"
          name="search"
          id="search"
          class="validate white-text text-shadow"
        />
        <label id="search_label" for="search" class="white-text text-shadow">
          <i
            class="fas fa-info-circle tooltipped"
            data-position="bottom"
            data-tooltip="Search plants by name or maintenance level: easy, medium or hard"
          ></i>
          Start Searching...
        </label>
        <button
          type="submit"
          class="white-text text-shadow right grey darken-1 btn"
        >
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %} {% block content %}
<div class="container padding-30">
  <div class="row">
    <div class="col s4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
      euismod congue faucibus. Nullam vel felis vel tellus interdum ultrices at
      sed diam. Fusce justo eros, scelerisque sit amet ullamcorper quis, varius
      quis neque. Vestibulum vel est tincidunt, lacinia enim sit amet, gravida
      elit. 
    </div>
    <div class="col s4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
      euismod congue faucibus. Nullam vel felis vel tellus interdum ultrices at
      sed diam. Fusce justo eros, scelerisque sit amet ullamcorper quis, varius
      quis neque. Vestibulum vel est tincidunt, lacinia enim sit amet, gravida
      elit.
    </div>
    <div class="col s4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
      euismod congue faucibus. Nullam vel felis vel tellus interdum ultrices at
      sed diam. Fusce justo eros, scelerisque sit amet ullamcorper quis, varius
      quis neque. Vestibulum vel est tincidunt, lacinia enim sit amet, gravida
      elit.
    </div>
  </div>
</div>

{% endblock %}
