{% extends "base.html" %} {% block hero_img %}
<h1 class="white-text text-shadow">Join</h1>

<div class="form-container valign-wrapper center-align">
  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('join') }}">
      <div class="row">
        <!-- username -->
        <div class="input-field col">
          <input
            id="username"
            name="username"
            type="text"
            class="validate white-text text-shadow"
          />
          <label for="username" class="white-text text-shadow">Username</label>
        </div>
        <!-- passwords -->
        <div class="input-field col">
          <input
            id="password"
            name="password"
            type="password"
            class="validate white-text text-shadow"
          />
          <label for="password" class="white-text text-shadow">Password</label>
        </div>
        <div class="input-field col">
          <input
            id="confirm_password"
            name="confirm_password"
            type="password"
            class="validate white-text text-shadow"
          />
          <label for="confirm_password" class="white-text text-shadow"
            >Confirm Password</label
          >
        </div>
      </div>
      <!-- submit -->

      <div class="row">
        <button
          type="submit"
          class="col s2 btn offset-m5 grey white-text text-shadow"
        >
          Join
        </button>
      </div>
    </form>
    <div class="row">
      <p class="white-text text-shadow">
        Already have an account? Login
        <a href="{{ url_for('login') }}" class="white-text text-shadow"
          ><i>here</i></a
        >
      </p>
    </div>
  </div>
</div>
{% endblock %} {% block content %} {% endblock %}
