{% extends "base.html" %}

<!-- hero image opening div -->
{% block hero_image_begin %}
<div class="hero-image height-90">
  {% endblock %}

  <!-- heading -->
  {% block heading %} Join {% endblock %}

  <!-- hero image content -->
  {% block hero_image_content %}

  <!-- form -->
  <div class="valign-wrapper center-align">
    <div class="row">
      <form class="col s12" method="POST" action="{{ url_for('join') }}">
        <div class="row">
          <!-- username -->
          <div class="input-field col">
            <input
              id="username"
              name="username"
              type="text"
              class="validate white-text text-shadow"
              minlength="4"
              maxlength="15"
              pattern="^[a-zA-Z0-9]{5,15}$"
            />
            <label
              for="username"
              id="username_label"
              class="white-text text-shadow"
              ><b>Username</b>
              <i
                class="fas fa-info-circle tooltipped"
                data-position="bottom"
                data-tooltip="Username must be between 4 and 15 characters. Special characters are not permitted."
              ></i>
            </label>
          </div>
          <!-- passwords -->
          <div class="input-field col">
            <input
              id="password"
              name="password"
              type="password"
              minlength="5"
              maxlength="15"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,15}"
              class="validate white-text text-shadow"
            />
            <label
              for="password"
              id="password_label"
              class="white-text text-shadow"
              ><b>Password</b>
              <i
                class="fas fa-info-circle tooltipped"
                data-position="bottom"
                data-tooltip="Password must be between 5 and 15 characters, contain one number and a mixture of upper and lowercase letters. Special characters are not permitted."
              ></i>
            </label>
          </div>
          <div class="input-field col">
            <input
              id="confirm_password"
              name="confirm_password"
              type="password"
              class="validate white-text text-shadow"
            />
            <label
              for="confirm_password"
              id="confirm_password_label"
              class="white-text text-shadow"
              ><b>Confirm Password</b></label
            >
          </div>
        </div>
        <!-- submit -->
        <div class="row">
          <button
            type="submit"
            class="col s2 btn offset-m5 grey darken-1 white-text text-shadow"
          >
            Join
          </button>
        </div>
      </form>
      <!-- redirect to login -->
      <div class="row">
        <p class="white-text text-shadow">
          Already have an account? Login
          <a href="{{ url_for('login') }}" class="white-text text-shadow"
            ><i>here</i></a
          >
        </p>
      </div>
    </div>
  </div>
  {% endblock %}
  <!-- hero image closing div -->
  {% block hero_image_end %}
</div>
{% endblock %}
