{% extends "base.html" %} {% block heading %}{{ plant_post.plant_botanical_name
}}{% endblock %} {% block hero_img_content %}
<div class="container">
  <h5 class="white-text text-shadow">{{ plant_post.plant_nickname }}</h5>
  <p class="white-text text-shadow">{{ plant_post.plant_description }}</p>
</div>
{% endblock %} {% block content %}

<div class="row">
  <div class="col m4 s12">
    <div class="row">
      <img
        class="responsive-img left-align"
        src="{{ plant_post.plant_image_url }}"
        alt="Image for {{ plant_post.plant_botanical_name }}"
      />
    </div>
    <div class="row">
      <p>Posted by: <i>{{ plant_post.posted_by }}</i></p>
    </div>
  </div>

  <div class="col m8 s12 center-align">
    <div class="divider"></div>
    <div class="section">
      <h5>Section 1</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Section 2</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Section 3</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Section 3</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Section 3</h5>
      <p>Stuff</p>
    </div>
  </div>
</div>
{%endblock %}
