{% extends "base.html" %}{% block back_navigation %}
<a href="{{ url_for('all_plants') }}" class="white-text"
  ><i class="fas fa-long-arrow-alt-left"></i> Back to Plants</a
>
{% endblock %} {% block heading %}{{ plant_post.plant_botanical_name }}{%
endblock %} {% block hero_img_content %}
<div class="container center-align">
  <h5 class="white-text text-shadow">{{ plant_post.plant_nickname }}</h5>
  <p class="white-text text-shadow">{{ plant_post.plant_description }}</p>
</div>
{% endblock %} {% block content %}

<div class="row">
  <div class="col m4 s12">
    <div class="row">
      <img
        class="responsive-img left-align"
        src="{{ plant_post.plant_image_url }}"
        alt="Image for {{ plant_post.plant_botanical_name }}"
      />
    </div>
    <div class="row">
      <p>Posted by: <i>{{ plant_post.posted_by }}</i></p>
    </div>
    <div class="row">
      {% if session.user|lower == plant_post.posted_by|lower %}
      <!-- edit plant post -->
      <a href="{{ url_for('edit_plant', plant_post_id=plant_post._id) }}"
        ><i class="far fa-edit grey-text small"></i
      ></a>
      <!-- delete plant post -->
      <a href="#delete-modal" class="modal-trigger"
        ><i class="far fa-trash-alt grey-text small"></i
      ></a>
      {% endif %}
      <!-- delete modal Structure -->
      <div id="delete-modal" class="modal">
        <div class="modal-content">
          <h4>
            Are you sure want to delete {{ plant_post.plant_botanical_name }}?
          </h4>
        </div>
        <div class="modal-footer">
          <a
            href="{{ url_for('delete_plant', plant_post_id=plant_post._id) }}"
            class="modal-close waves-effect waves-green btn-flat"
            >Yes, delete</a
          >
          <button class="modal-close waves-effect waves-green btn-flat">
            No, keep
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col m8 s12 center-align">
    <div class="divider"></div>
    <div class="section">
      <h5><i class="fas fa-home"></i> Environment</h5>
      <p>{{ plant_post.best_environment }}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5><i class="fas fa-thermometer-half"></i> Temperature</h5>
      <p>{{ plant_post.temperature }}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5><i class="fas fa-tint"></i> Water</h5>
      <p>{{ plant_post.water }}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5><i class="fas fa-seedling"></i> Feeding</h5>
      <p>{{ plant_post.feeding }}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5><i class="fas fa-hand-holding-heart"></i> Maintenance Level</h5>
      <p>{{ plant_post.maintenance_level }}</p>
    </div>
  </div>
</div>
{%endblock %}
