{% extends "base.html" %}{% block back_navigation %}
<a href="{{ url_for('all_plants') }}" class="white-text"
  ><i class="fas fa-long-arrow-alt-left"></i> Back to Plants</a
>
{% endblock %} {% block heading %}{{ plant_post.plant_nickname }}{% endblock %}
{% block hero_img_content %}
<div class="container center-align">
  <h5 class="white-text text-shadow">{{ plant_post.plant_botanical_name }}</h5>
  <p class="white-text text-shadow">{{ plant_post.plant_description }}</p>
</div>
{% endblock %} {% block content %}
<div class="row">
  <div id="plant-profile-left" class="col m4 s12 center-align">
    <div class="row">
      <img
        class="responsive-img left-align"
        src="{{ plant_post.plant_image_url }}"
        alt="Image for {{ plant_post.plant_botanical_name }}"
      />
    </div>
    <div class="row">
      <p>Posted by: <i>{{ plant_post.posted_by }}</i></p>
    </div>
    {% if plant_post.is_air_purifying == "on" %}
    <div class="row">
      <p><i class="fas fa-leaf"></i> This plant is air purfying</p>
    </div>
    {% endif %}
    <div class="row">
      {% if session.user|lower == plant_post.posted_by|lower or
      session.user|lower == "admin"|lower%}
      <!-- edit plant post -->
      <a href="{{ url_for('edit_plant', plant_post_id=plant_post._id) }}"
        ><i class="far fa-edit grey-text small"></i
      ></a>
      <!-- delete plant post -->
      <a href="#delete-modal" class="modal-trigger"
        ><i class="far fa-trash-alt grey-text small"></i
      ></a>
      {% endif %}
      <!-- delete modal Structure -->
      <div id="delete-modal" class="modal">
        <div class="modal-content">
          <h4>
            Are you sure want to delete {{ plant_post.plant_botanical_name }}?
          </h4>
        </div>
        <div class="modal-footer">
          <a
            href="{{ url_for('delete_plant', plant_post_id=plant_post._id) }}"
            class="modal-close waves-effect waves-green btn-flat"
            >Yes, delete</a
          >
          <button class="modal-close waves-effect waves-green btn-flat">
            No, keep
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- care instructions -->
  <div id="plant-profile-right" class="col m8 s12 center-align">
    <div class="section">
      <h5><i class="fas fa-home"></i> Environment</h5>
      <p>{{ plant_post.best_environment }}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5><i class="fas fa-thermometer-half"></i> Temperature</h5>
      <p>{{ plant_post.temperature }}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5><i class="fas fa-tint"></i> Water</h5>
      <p>{{ plant_post.water }}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5><i class="fas fa-seedling"></i> Feeding</h5>
      <p>{{ plant_post.feeding }}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5><i class="fas fa-hand-holding-heart"></i> Maintenance Level</h5>
      <p>{{ plant_post.maintenance_level }}</p>
    </div>
  </div>
</div>
<!-- comments -->
<section>
  <div class="container">
    <div class="col s12">
      <form
        method="POST"
        action="{{ url_for('insert_comment', plant_post_id=plant_post._id) }}"
      >
        <!-- redirect user if not logged in -->
        {% if not session.user|lower %}
        <a href="{{ url_for('join' ) }}"
          ><u><b>Join</b></u></a
        >
        or
        <a href="{{ url_for('login' ) }}"
          ><u><b>Login</b></u></a
        >
        to comment {% endif %}
        <!-- ensure user is logged in to comment -->
        {% if session.user|lower %}
        <input
          id="plant_post_id"
          name="plant_post_id"
          type="hidden"
          value="{{ plant_post._id }}"
          class="validate"
        />
        <div class="input-field col s12">
          <textarea
            id="comment_body"
            name="comment_body"
            class="materialize-textarea validate"
            required
          ></textarea>
          <label for="comment_body">Add comment</label>
          <!-- submit button -->
          <button
            type="submit"
            class="btn-floating btn waves-effect waves-light grey"
          >
            <i class="fas fa-plus white-text small"></i>
          </button>
          {% endif %}
        </div>
        <div class="col s12">
          {% for comment in comments %}
          <p>{{ comment.comment_body }}</p>
          <p class="right-align">Posted by: <i>{{ comment.posted_by }}</i></p>
          <p class="right-align">At: <i>{{ comment.posted_at }}</i></p>
          <!-- ensure only poster or admin can delete/edit comments -->
          {% if session.user|lower == comment.posted_by|lower or
          session.user|lower == "admin"|lower %}
          <!-- edit comment -->
          <a
            href="{{ url_for('edit_comment', comment_id=comment._id, plant_post_id=plant_post._id) }}"
            ><i class="far fa-edit grey-text small"></i
          ></a>
          <!-- delete comment -->
          <a href="#delete-comment-modal" class="modal-trigger"
            ><i class="far fa-trash-alt grey-text small"></i
          ></a>
          <!-- delete modal Structure -->
          <div id="delete-comment-modal" class="modal">
            <div class="modal-content">
              <h4>
                Are you sure want to delete your comment?
              </h4>
            </div>
            <div class="modal-footer">
              <a
                href="{{ url_for('delete_comment', comment_id=comment._id, plant_post_id=plant_post._id) }}"
                class="modal-close waves-effect waves-green btn-flat"
                >Yes, delete</a
              >
              <button class="modal-close waves-effect waves-green btn-flat">
                No, keep
              </button>
              {% endif %}
            </div>
          </div>
          <div class="divider"></div>
          {% endfor %}
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
